.main{
	background-image: linear-gradient(to right, black, black);
}

.body{
	height: 100%;
	background-image: url('../images/hall.jpg');
	background-size: cover;
	background-position: center;
}

p{
	color: white;
}

.footer{
	background-image: linear-gradient(to right, black, black);
/* 	position: fixed;
	bottom: 0; */
}