.main{
	background-image: linear-gradient(to right, black, black);
}

.body{
	height: 100%;
	background-image: url('../images/govote.jpg');
	background-size: cover;
	background-position: center;
	opacity: 100%;
}

p{
	color: white;
	font-weight: bold;
	opacity: 100%;
}

.footer{
	background-image: linear-gradient(to right, black, black);
/* 	position: fixed;
	bottom: 0; */
}